* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  outline: 1px solid black;
}

.app-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

/***************************
Sidebar Classes
***************************/

.sidebar {
  grid-column: 1 / 2;
  outline: 1px solid black;
}

.folders-list {
  list-style: none;
}

.folder {
  outline: 1px solid black;
  text-align: center;
  padding: 20px;
}

.highlight {
  background-image: linear-gradient(90deg, #4facfe, #00f2fe);
}

/***************************
Main Classes
***************************/

.main {
  grid-column: 2 / 3;
  outline: 1px solid black;
}

.notes-list {
  list-style: none;
  padding-top: 20px;
}

.note {
  display: grid;
  grid-template-columns: 3fr 1fr;
  outline: 1px solid black;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.note-heading {
  grid-column: 1 / -1;
}
